<div *ngIf="speakerList != undefined">
    <div *ngFor="let speaker of speakerList" class="tabled">
        <table style="width:100%" aria-label="auto table"> <tr>
            <th class="border-right">
                <div [innerHtml]="speaker.name"></div>
             </th>
             <th class="border-right">
                <div [innerHtml]="speaker.nickname"></div>
             </th>
         <th class="border-right">
            <div>"Tags": {{speaker.tags.length}}<span (click)="listModal(speaker.tags)" class="icon"><em class="fa-solid fa-list"></em></span></div>
         </th>
         <th class="border-right">
            <div *ngIf="speaker.enabled === true"><i style="color: green;" class="fa-solid fa-circle-check fa-2x" aria-hidden="true"> </i></div>
            <div *ngIf="speaker.enabled === false"><i style="color: red;" class="fa-solid fa-circle-x fa-2x" aria-hidden="true"> </i></div>
         </th>
         
         <th> <table aria-label="button table" style="display: inline-flex;"><tr><th><span (click)="edit(speaker)" class="icon"><em class="fa-solid fa-pen-to-square"></em></span></th><th><span (click)="delete(speaker)" class="icon"><em class="fa-solid fa-trash"></em></span></th></tr></table></th></tr></table></div>
    </div>