<div class="tabled">
  <table style="width: 100%; height: 100%" aria-label="Questions Header">
    <th class="border-right width-table">Questions</th>
    <th class="border-right width-table">Tags</th>
    <th class="width-table">Best Answer</th>
  </table>
</div>
<div *ngIf="questions != undefined">
  <cdk-virtual-scroll-viewport class="scroll" itemSize="2">
    <div *ngFor="let question of questions" class="tabled">
      <table style="width: 100%; height: 100%" aria-label="Questions Table">
        <tr>
          <th class="border-right width-table">
            <div [innerHtml]="question.content"></div>
          </th>
          <th class="border-right width-table">
            <div>
              "Tags": {{ question.tags.length
              }}<span (click)="listModal(question.tags)" class="icon"
                ><em class="fa-solid fa-list"></em
              ></span>
            </div>
          </th>
          <th class="width-table">
            <div>
              {{
                question.bestAnswer
                  ? question.bestAnswer.content
                  : "Pas de réponse"
              }}
            </div>
          </th>
        </tr>
      </table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
<mat-paginator
  class="paginator"
  [length]="totalItem"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = getQuestions($event)"
  aria-label="Select page"
>
</mat-paginator>
