@import '../../../../../variables.scss';
.width-table {
    width: 40%;
}
.width-button {
    width: 20%;
}
.paginator {
    margin-bottom: 1em;
    width: 59em;    
    border-radius: 5em;

}
.scroll {
    height: 80vh;
}