<div class="tabled">
  <table style="width: 100%" aria-label="auto table">
    <th class="border-right width-table">Tag</th>
    <th class="border-right width-table">Nombre de Variants</th>
    <th class="width-button">Actions</th>
  </table>
</div>
<div class="table-top" *ngIf="tags != undefined">
  <cdk-virtual-scroll-viewport class="scroll" itemSize="2">
    <div *ngFor="let tag of tags" class="tabled">
      <table style="width: 100%" aria-label="auto table">
        <tr>
          <th class="border-right width-table">
            <div>
              {{ tag.variants[0] }}
            </div>
          </th>
          <th class="border-right width-table">
            <div>
              {{ tag.variants.length }}
            </div>
          </th>
          <th class="width-button">
            <table aria-label="button table" style="display: inline-flex">
              <tr>
                <th>
                  <span (click)="edit(tag)" class="icon"
                    ><em class="fa-solid fa-pen-to-square"></em
                  ></span>
                </th>
                <th>
                  <span (click)="delete(tag)" class="icon"
                    ><em class="fa-solid fa-trash"></em
                  ></span>
                </th>
              </tr>
            </table>
          </th>
        </tr>
      </table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
<mat-paginator
  class="paginator"
  [length]="totalItem"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = getTags($event)"
  aria-label="Select page"
>
</mat-paginator>
<button
  mat-fab
  class="button-color"
  style="background-color: #333999; margin-left: 60%"
  aria-label="Add Button"
  (click)="create()"
>
  <mat-icon>add_circle</mat-icon>
</button>
