<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<table style="width: 100%; text-align: end" aria-label="auto upsert table">
  <ng-container [formGroup]="myForm">
    <div *ngIf="speaker == undefined">
      <tr>
        <th>
          <mat-form-field appearance="fill">
            <mat-label>Id</mat-label>
            <mat-select [formControlName]="'id'" multiple>
              <mat-option
                *ngFor="let option of idOptions"
                [value]="option.id"
                >{{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </th>
      </tr>
    </div>
    <tr>
      <th>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input [formControlName]="'name'" matInput />
        </mat-form-field>
      </th>
    </tr>
    <tr>
      <th>
        <mat-form-field appearance="fill">
          <mat-label>Nickname</mat-label>
          <input [formControlName]="'nickname'" matInput />
        </mat-form-field>
      </th>
    </tr>

    <tr>
      <th style="text-align: left">
        <mat-checkbox
          labelPosition="before"
          type="checkbox"
          [formControlName]="'enabled'"
        >
          Enabled
        </mat-checkbox>
      </th>
    </tr>
    <tr>
      <th>
        <mat-form-field appearance="fill">
          <mat-label>Tags</mat-label>
          <mat-select [formControlName]="'tags'" multiple>
            <mat-option *ngFor="let option of tagOptions" [value]="option.id">{{
              option.variants[0]
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </tr>
    <button
      mat-fab
      color="primary"
      style="background-color: #333999"
      aria-label="Save Button"
      (click)="onSubmit()"
    >
      <mat-icon>save</mat-icon>
    </button>
  </ng-container>
</table>
