<div class="tabled">
  <table style="width: 100%" aria-label="auto table">
    <th class="border-right width-table">
      <div>Réactions</div>
    </th>
    <th class="border-right">
      <div>Valeurs</div>
    </th>
    <th class="width-button">Actions</th>
  </table>
</div>
<div *ngIf="reactions != undefined">
  <cdk-virtual-scroll-viewport class="scroll" itemSize="2">
    <div *ngFor="let reaction of reactions" class="tabled">
      <table style="width: 100%" aria-label="auto table">
        <tr>
          <th class="border-right width-table">
            <div [innerHtml]="reaction.reaction"></div>
          </th>
          <th class="border-right">
            <div [innerHtml]="'Value = ' + reaction.value"></div>
          </th>
          <th class="width-button">
            <table aria-label="button table" style="display: inline-flex">
              <tr>
                <th>
                  <span (click)="edit(reaction)" class="icon"
                    ><em class="fa-solid fa-pen-to-square"></em
                  ></span>
                </th>
              </tr>
            </table>
          </th>
        </tr>
      </table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
<mat-paginator
  class="paginator"
  [length]="totalItem"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = getReactions($event)"
  aria-label="Select page"
>
</mat-paginator>
